#creatorcontainer {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    grid-template-rows: 100vh;
    /* background-image: url('/images/helm.jpeg');
    background-size: cover;
    background-position: right top;
    height: calc(100vh - 62px); */
}

#creatorcontainer > div {
    border-right: 3px solid black;
  }

#creatorcontainer > div:last-child {
    border-right: none;
  }

/* @media only screen and (max-width: 991px) {
    #creatorcontainer {
        height: calc(100vh - 56px);
    }
} */
